body, html {
  height: 100%;
  margin: 0;
}

.btn-custom {
  border-radius: 2px;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-send {
  background-color: #fc5053;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

button{
  font-family: 'Roboto', sans-serif;
}

.custom-container
{
  display: flex;
  justify-content: center;
}

form {
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  height: 40%;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(28, 29, 29, 0.3);
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.header-image {
  /* linear-gradient = darker background effect */
  background-image: url("gradient.jpg");
  height: 100%;

  /* image positioned for all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* text on background */
.header-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header-title {
  user-select: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 400%;
  color: #EAEEF0;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px #f8f9f9,
  -10px 15px 10px rgba(28, 29, 29, 0.3);

}

.item
{
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 200px;
  height: 100px;
}

label{
  display: block;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.navbar {
  font-family: 'Lato', sans-serif;
}

.p-light {
  font-weight: 300;
  font-size: 20px;
}
